<!doctype html>
<html lang="CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>無款有不為齋黏岩巧色昌化石自然章</title>
    <link rel="stylesheet" media="screen and (min-width:1200px)" href="style/main.css">
    <link rel="stylesheet" media="screen and (max-width:1025px)" href="style/mobile-works-detail.css" type="text/css" />
    <link rel="stylesheet" href="style/normalize.css">
</head>

<body class="clearfix">
    <div class="pc">
        <!-- <iframe class="second-main" marginwidth="0" src="">
    </iframe> -->
        <audio id="music" src="./audio/jp.m4a" loop autoplay></audio>
        <div class="sketchfab-embed-wrapper second-main" style="position: relative;" marginwidth="0">
            <!-- <model-viewer disable-zoom camera-controls alt="Model" src="./model/teapot.glb" style="width: 100%; height: 100%; background: black;">
        </model-viewer> -->
            <iframe title="無款有不為齋黏岩巧色昌化石自然章" frameborder="0" allowfullscreen style="width: 100%; height: 100%;"
                mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking"
                xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share
                src="https://sketchfab.com/models/1e3be74e6bff4a77aa3f2f8031667b59/embed?autospin=0&autostart=1&camera=0&ui_animations=0&ui_infos=0&ui_stop=0&ui_inspector=0&ui_help=0&ui_settings=0&ui_fullscreen=1&ui_annotations=0">
            </iframe>
        </div>
        <aside class="second-aside new-bg">
            <p class="font26">無款有不為齋黏岩巧色昌化石自然章</p>
            <p class="font14">
                ライプツィヒ大学で言語学の博士号を取得。 中華人民共和国の文学者であり発明家でもある林語堂は、1940年と1950年にノーベル文学賞にノミネートされた。 彼は香港と台湾を拠点に活動している。

                林毓堂氏は当時、漢字の検出技術が十分に進んでいないことを知り、家庭を離れて漢字検出規則の研究に専念し、ついに1947年に「明朝体中国語タイプライター」を発明し、1952年にアメリカで特許を取得し、6年半続いた。
                1952年にアメリカで特許を取得し、6年半続いた。 また、神通電脳の中国語コンピュータの入力方式として使用するライセンスを取得し、神通電脳はこれを「簡易入力方式」と呼んだ。

                この印鑑は、1966年、林玉堂とその妻、廖翠峰が2度目の台湾訪問の際、台湾への定住に備えて持ち込んだものである。 この印章は最新の3D技術を使用しており、細部まで簡単に読み取ることができます。
            </p>

            <div class="box address">
                尺寸 ： 3.3×2×6.3(cm)
            </div>
            <div class="box age">
                印文字型 ： 篆文。楷書
            </div>
            <div class="box born">
                年代：X
            </div>
            <div class="box textOn">
                印文：<br>
                語堂老伯大人清玩<br>
                愚姪李令韻致贈
            </div>
            <div class="last-one clearfix">
                <div class="height">致贈人 ： 有不為齋</div>
                <div class="weight">刻印人 ： 李令韻</div>
            </div>
        </aside>
        <a href="index.html" class="homeIcon"></a>
    </div>

    <div class="mobile" id="app">
        <audio id="music" src="./audio/jp.m4a" loop autoplay></audio>
        <!-- <iframe class="mobile-iframe" marginwidth="0" src="">
        </iframe> -->
        <div class="sketchfab-embed-wrapper second-main" style="position: relative;" marginwidth="0">
            <!-- <model-viewer disable-zoom camera-controls alt="Model" src="./model/teapot.glb" style="width: 100%; height: 100%; background: black;">
        </model-viewer> -->
            <iframe title="無款有不為齋黏岩巧色昌化石自然章" frameborder="0" allowfullscreen style="width: 100%; height: 100vh;"
                mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking"
                xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share
                src="https://sketchfab.com/models/1e3be74e6bff4a77aa3f2f8031667b59/embed?autospin=0&autostart=1&camera=0&ui_animations=0&ui_infos=0&ui_stop=0&ui_inspector=0&ui_help=0&ui_settings=0&ui_fullscreen=1&ui_annotations=0">
            </iframe>
        </div>
        <div class="main-title">
            無款有不為齋黏岩巧色昌化石自然章
        </div>
        <div class="detail-btn-wrapper main-detail">
            <div class="detail-btn main-btn" @click="ifShow"></div>
        </div>
        <a href="index.html" class="mobileIcon"></a>

        <!--遮盖层-->
        <div class="layout" v-if="show">
        </div>

        <div class="text-detail-wrapper" v-if="show">
            <p class="titie">無款有不為齋黏岩巧色昌化石自然章</p>
            <div class="text-content">
                ライプツィヒ大学で言語学の博士号を取得。 中華人民共和国の文学者であり発明家でもある林語堂は、1940年と1950年にノーベル文学賞にノミネートされた。 彼は香港と台湾を拠点に活動している。

                林毓堂氏は当時、漢字の検出技術が十分に進んでいないことを知り、家庭を離れて漢字検出規則の研究に専念し、ついに1947年に「明朝体中国語タイプライター」を発明し、1952年にアメリカで特許を取得し、6年半続いた。
                1952年にアメリカで特許を取得し、6年半続いた。 また、神通電脳の中国語コンピュータの入力方式として使用するライセンスを取得し、神通電脳はこれを「簡易入力方式」と呼んだ。

                この印鑑は、1966年、林玉堂とその妻、廖翠峰が2度目の台湾訪問の際、台湾への定住に備えて持ち込んだものである。 この印章は最新の3D技術を使用しており、細部まで簡単に読み取ることができます。
            </div>

            <div class="detail-address detail-box ">
                尺寸 ： 3.3×2×6.3(cm)
            </div>
            <div class="detail-age detail-box mt10">
                印文字型 ： 篆文。楷書
            </div>
            <div class="detail-born detail-box mt10">
                年代：X
            </div>
            <div class="detail-born detail-box mt10">
                印文：<br>
                語堂老伯大人清玩<br>
                愚姪李令韻致贈
            </div>
            <div class="last-one mt10">
                <div class="last-one-left">
                    致贈人 ： 有不為齋
                </div>
                <div class="last-one-right">
                    刻印人 ： 李令韻
                </div>
            </div>
            <div class="detail-btn-wrapper text-detail" @click="ifHide">
                <div class="detail-btn text-btn"></div>
            </div>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                show: false
            },
            methods: {
                ifShow() {
                    this.show = true;
                },
                ifHide() {
                    this.show = false;
                }
            }
        });
        var iframe = document.getElementsByTagName("iframe");
        function isMobile() {
            let flag = navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
            return flag;
        };
        if (isMobile()) {
            iframe[1].src = "https://sketchfab.com/models/1e3be74e6bff4a77aa3f2f8031667b59/embed?autospin=0&autostart=1&camera=0&ui_animations=0&ui_infos=0&ui_stop=0&ui_inspector=0&ui_help=0&ui_settings=0&ui_fullscreen=1&ui_annotations=0";
        } else {
            // iframe[0].src="model/index.html?19/1605768076840";
        }

    </script>
</body>

</html>