<!doctype html>
<html lang="CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>林惠瀛篆刻林語堂、翠鳳姓名鰲龍鈕壽山紅高山對章</title>
    <link rel="stylesheet" media="screen and (min-width:1200px)" href="style/main.css">
    <link rel="stylesheet" media="screen and (max-width:1025px)" href="style/mobile-works-detail.css" type="text/css" />
    <link rel="stylesheet" href="style/normalize.css">
</head>

<body class="clearfix">
    <div class="pc">
        <!-- <iframe class="second-main" marginwidth="0" src="">
    </iframe> -->
        <audio id="music" src="./audio/ch.m4a" loop autoplay></audio>
        <div class="sketchfab-embed-wrapper second-main" style="position: relative;" marginwidth="0">
            <model-viewer disable-zoom camera-controls alt="Model" src="./model/5.glb" style="width: 100%; height: 100%; background: black;">
        </model-viewer>
            <!-- <iframe title="林惠瀛篆刻林語堂、翠鳳姓名鰲龍鈕壽山紅高山對章" frameborder="0" allowfullscreen style="width: 100%; height: 100%;"
                mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking"
                xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share
                src="https://sketchfab.com/models/eab54310ee854486aa3512cc038b81dd/embed?autospin=0&autostart=1&camera=0&ui_animations=0&ui_infos=0&ui_stop=0&ui_inspector=0&ui_help=0&ui_settings=0&ui_fullscreen=1&ui_annotations=0">
            </iframe> -->
        </div>
        <aside class="second-aside new-bg">
            <p class="font26">林惠瀛篆刻林語堂、翠鳳姓名鰲龍鈕壽山紅高山對章</p>
            <p class="font14">
                林語堂，漳州龍溪人，為德國萊比錫大學語言學博士，曾任北京大學教授，是中華民國文學家及發明家，1940年和1950年兩度獲得諾貝爾文學獎的提名。定居於香港與台灣。
                林語堂先生有鑑於那個時代的中文檢字技術不夠發達，乃傾家盪產全心研究中文檢字法則，終在1947年，發明了「明快中文打字機」，1952年獲美國專利，歷時長達六年半。並曾授權神通電腦作為其中文電腦之輸入法，神通電腦稱其為「簡易輸入法」。
                本印章為1966年林語堂偕同妻子廖翠鳳二度訪臺，為在臺定居作準備而帶來台灣的隨章。請您翻轉文物，可清晰看到立體的印記，本印章採用最新3D技術，您可輕鬆端詳細節。
            </p>

            <div class="box address">
                尺寸 ： 1.5×1.5×7.5(cm)
            </div>
            <div class="box age">
                印文字型 ： 金文。行草
            </div>
            <div class="box born">
                年代：1955.1.24
            </div>
            <div class="box textOn">
                印文：<br>
                鳳栖為惜翠梧陰<br>
                五叔大人正篆<br>
                乙未元旦侄 惠瀛敬刻

            </div>
            <div class="last-one clearfix">
                <div class="height">致贈人 ： 林語堂</div>
                <div class="weight">刻印人 ： 林惠瀛</div>
            </div>
        </aside>
        <a href="index.html" class="homeIcon"></a>
    </div>

    <div class="mobile" id="app">
        <!-- <iframe class="mobile-iframe" marginwidth="0" src="">
        </iframe> -->
        <div class="sketchfab-embed-wrapper second-main" style="position: relative;" marginwidth="0">
            <model-viewer disable-zoom camera-controls alt="Model" src="./model/5.glb" style="width: 100%; height: 100%; background: black;">
            </model-viewer>
            <!-- <iframe title="林惠瀛篆刻林語堂、翠鳳姓名鰲龍鈕壽山紅高山對章" frameborder="0" allowfullscreen style="width: 100%; height: 100vh;"
                mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking"
                xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share
                src="https://sketchfab.com/models/eab54310ee854486aa3512cc038b81dd/embed?autospin=0&autostart=1&camera=0&ui_animations=0&ui_infos=0&ui_stop=0&ui_inspector=0&ui_help=0&ui_settings=0&ui_fullscreen=1&ui_annotations=0">
            </iframe> -->
        </div>
        <div class="main-title">
            林惠瀛篆刻林語堂、翠鳳姓名鰲龍鈕壽山紅高山對章
        </div>
        <div class="detail-btn-wrapper main-detail">
            <div class="detail-btn main-btn" @click="ifShow"></div>
        </div>
        <a href="index.html" class="mobileIcon"></a>

        <!--遮盖层-->
        <div class="layout" v-if="show">
        </div>

        <div class="text-detail-wrapper" v-if="show">
            <p class="titie">林惠瀛篆刻林語堂、翠鳳姓名鰲龍鈕壽山紅高山對章</p>
            <div class="text-content">
                林語堂，漳州龍溪人，為德國萊比錫大學語言學博士，曾任北京大學教授，是中華民國文學家及發明家，1940年和1950年兩度獲得諾貝爾文學獎的提名。定居於香港與台灣。
                林語堂先生有鑑於那個時代的中文檢字技術不夠發達，乃傾家盪產全心研究中文檢字法則，終在1947年，發明了「明快中文打字機」，1952年獲美國專利，歷時長達六年半。並曾授權神通電腦作為其中文電腦之輸入法，神通電腦稱其為「簡易輸入法」。
                本印章為1966年林語堂偕同妻子廖翠鳳二度訪臺，為在臺定居作準備而帶來台灣的隨章。請您翻轉文物，可清晰看到立體的印記，本印章採用最新3D技術，您可輕鬆端詳細節。
            </div>
            <div class="detail-address detail-box ">
                尺寸 ： 1.5×1.5×7.5(cm)
            </div>
            <div class="detail-age detail-box mt10">
                印文字型 ： 金文。行草
            </div>
            <div class="detail-born detail-box mt10">
                年代：1955.1.24
            </div>
            <div class="detail-born detail-box mt10">
                印文：<br>
                鳳栖為惜翠梧陰<br>
                五叔大人正篆<br>
                乙未元旦侄 惠瀛敬刻
            </div>
            <div class="last-one mt10">
                <div class="last-one-left">
                    致贈人 ： 林語堂
                </div>
                <div class="last-one-right">
                    刻印人 ： 林惠瀛
                </div>
            </div>
            <div class="detail-btn-wrapper text-detail" @click="ifHide">
                <div class="detail-btn text-btn"></div>
            </div>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                show: false
            },
            methods: {
                ifShow() {
                    this.show = true;
                },
                ifHide() {
                    this.show = false;
                }
            }
        });
        var iframe = document.getElementsByTagName("iframe");
        function isMobile() {
            let flag = navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
            return flag;
        };
        if (isMobile()) {
            iframe[1].src = "https://sketchfab.com/models/eab54310ee854486aa3512cc038b81dd/embed?autospin=0&autostart=1&camera=0&ui_animations=0&ui_infos=0&ui_stop=0&ui_inspector=0&ui_help=0&ui_settings=0&ui_fullscreen=1&ui_annotations=0";
        } else {
            // iframe[0].src="model/index.html?19/1605768076840";
        }

    </script>
</body>

</html>