<!doctype html>
<html lang="CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>齊白石篆刻林語堂姓名魚鈕壽山巧色高山石大方章</title>
    <link rel="stylesheet" media="screen and (min-width:1200px)" href="style/main.css">
    <link rel="stylesheet" media="screen and (max-width:1025px)" href="style/mobile-works-detail.css" type="text/css" />
    <link rel="stylesheet" href="style/normalize.css">
</head>

<body class="clearfix">
    <div class="pc">
        <!-- <iframe class="second-main" marginwidth="0" src="">
    </iframe> -->
        <audio id="music" src="./audio/en.m4a" loop autoplay></audio>
        <div class="sketchfab-embed-wrapper second-main" style="position: relative;" marginwidth="0">
            <model-viewer disable-zoom camera-controls alt="Model" src="./model/7.glb" style="width: 100%; height: 100%; background: black;">
        </model-viewer>
            <!-- <iframe title="齊白石篆刻林語堂姓名魚鈕壽山巧色高山石大方章" frameborder="0" allowfullscreen style="width: 100%; height: 100%;"
                mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking"
                xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share
                src="https://sketchfab.com/models/57a49fef7d454472a35d4fc886c6227f/embed?autospin=0&autostart=1&camera=0&ui_animations=0&ui_infos=0&ui_stop=0&ui_inspector=0&ui_help=0&ui_settings=0&ui_fullscreen=1&ui_annotations=0">
            </iframe> -->
        </div>
        <aside class="second-aside new-bg">
            <p class="font26">齊白石篆刻林語堂姓名魚鈕壽山巧色高山石大方章</p>
            <p class="font14" style="font-size: 13px; padding: 0 15px; line-height: 20px;">
                Lin Yutang , a native of Longxi in Zhangzhou , holds a doctorate in linguistics from the University of
                Leipzig , and was formerly a professor at Peking University . Lin Yutang, a literatus and inventor of
                the Republic of China (R.O.C.), was nominated for the Nobel Prize for Literature in 1940 and 1950. He is
                based in Hong Kong and Taiwan.
                Mr. Lin Yutang realized that the Chinese character detection technology of that era was not advanced
                enough, so he left his family to devote himself to the study of Chinese character detection rules, and
                finally, in 1947, he invented the "Ming Fu Chinese Typewriter", which was patented in the United States
                in 1952, and lasted for six and a half years. In 1952, he was granted a patent in the U.S., which lasted
                for six and a half years. He also licensed Shentong Computer to use it as the input method for his
                Chinese computer, which Shentong Computer called the "Simple Input Method".
                This seal was brought to Taiwan by Lin Yutang and his wife, Liao Cui-feng, during their second visit to
                Taiwan in 1966 in preparation for their settlement in Taiwan. Please turn over the artifact to see the
                three-dimensional seal clearly. This seal adopts the latest 3D technology, so you can easily read the
                details.

            </p>

            <div class="box address">
                尺寸 ： 2.7×2.7×6(cm)
            </div>
            <div class="box age">
                印文字型 ： 篆文。楷書
            </div>
            <div class="box born">
                年代：X
            </div>
            <div class="box textOn">
                印文：<br>
                白石
            </div>
            <div class="last-one clearfix">
                <div class="height">致贈人 ： 林語堂</div>
                <div class="weight">刻印人 ： 齊白石</div>
            </div>
        </aside>
        <a href="index.html" class="homeIcon"></a>
    </div>

    <div class="mobile" id="app">
        <!-- <iframe class="mobile-iframe" marginwidth="0" src="">
        </iframe> -->
        <div class="sketchfab-embed-wrapper second-main" style="position: relative;" marginwidth="0">
            <!-- <model-viewer disable-zoom camera-controls alt="Model" src="./model/teapot.glb" style="width: 100%; height: 100%; background: black;">
        </model-viewer> -->
            <iframe title="齊白石篆刻林語堂姓名魚鈕壽山巧色高山石大方章" frameborder="0" allowfullscreen style="width: 100%; height: 100vh;"
                mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking"
                xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share
                src="https://sketchfab.com/models/57a49fef7d454472a35d4fc886c6227f/embed?autospin=0&autostart=1&camera=0&ui_animations=0&ui_infos=0&ui_stop=0&ui_inspector=0&ui_help=0&ui_settings=0&ui_fullscreen=1&ui_annotations=0">
            </iframe>
        </div>
        <div class="main-title">
            齊白石篆刻林語堂姓名魚鈕壽山巧色高山石大方章
        </div>
        <div class="detail-btn-wrapper main-detail">
            <div class="detail-btn main-btn" @click="ifShow"></div>
        </div>
        <a href="index.html" class="mobileIcon"></a>

        <!--遮盖层-->
        <div class="layout" v-if="show">
        </div>

        <div class="text-detail-wrapper" v-if="show">
            <audio id="myAudio" src="./audio/en.m4a" preload="auto">
            </audio>
            <img src="./img/unmute.jpg" onclick="togglePlay()"
                style="position: absolute; width: 30px; right: 20px; top: 10px; background: white; padding: 8px; border-radius: 100%;" />
            <script type="text/javascript">
                function togglePlay() {
                    var myAudio = document.getElementById("myAudio");
                    return myAudio.paused ? myAudio.play() : myAudio.pause();
                };
            </script>
            <p class="titie">齊白石篆刻林語堂姓名魚鈕壽山巧色高山石大方章</p>
            <div class="text-content">
                Lin Yutang , a native of Longxi in Zhangzhou , holds a doctorate in linguistics from the University of
                Leipzig , and was formerly a professor at Peking University . Lin Yutang, a literatus and inventor of
                the Republic of China (R.O.C.), was nominated for the Nobel Prize for Literature in 1940 and 1950. He is
                based in Hong Kong and Taiwan.
                Mr. Lin Yutang realized that the Chinese character detection technology of that era was not advanced
                enough, so he left his family to devote himself to the study of Chinese character detection rules, and
                finally, in 1947, he invented the "Ming Fu Chinese Typewriter", which was patented in the United States
                in 1952, and lasted for six and a half years. In 1952, he was granted a patent in the U.S., which lasted
                for six and a half years. He also licensed Shentong Computer to use it as the input method for his
                Chinese computer, which Shentong Computer called the "Simple Input Method".
                This seal was brought to Taiwan by Lin Yutang and his wife, Liao Cui-feng, during their second visit to
                Taiwan in 1966 in preparation for their settlement in Taiwan. Please turn over the artifact to see the
                three-dimensional seal clearly. This seal adopts the latest 3D technology, so you can easily read the
                details.
            </div>
            <div class="detail-address detail-box ">
                尺寸 ： 2.7×2.7×6(cm)
            </div>
            <div class="detail-age detail-box mt10">
                印文字型 ： 篆文。楷書
            </div>
            <div class="detail-born detail-box mt10">
                年代：X
            </div>
            <div class="detail-born detail-box mt10">
                印文：<br>
                白石
            </div>
            <div class="last-one mt10">
                <div class="last-one-left">
                    致贈人 ： 林語堂
                </div>
                <div class="last-one-right">
                    刻印人 ： 齊白石
                </div>
            </div>
            <div class="detail-btn-wrapper text-detail" @click="ifHide">
                <div class="detail-btn text-btn"></div>
            </div>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                show: false
            },
            methods: {
                ifShow() {
                    this.show = true;
                },
                ifHide() {
                    this.show = false;
                }
            }
        });
        var iframe = document.getElementsByTagName("iframe");
        function isMobile() {
            let flag = navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
            return flag;
        };
        if (isMobile()) {
            iframe[1].src = "https://sketchfab.com/models/57a49fef7d454472a35d4fc886c6227f/embed?autospin=0&autostart=1&camera=0&ui_animations=0&ui_infos=0&ui_stop=0&ui_inspector=0&ui_help=0&ui_settings=0&ui_fullscreen=1&ui_annotations=0";
        } else {
            // iframe[0].src="model/index.html?19/1605768076840";
        }

    </script>
</body>

</html>